<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Plemya Lend Fonts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <ul>
        <li style="font-size: 30px; font-family: 'Conv_SFUIDISPLAY-ULTRALIGHT';">font-family: 'Conv_SFUIDISPLAY-ULTRALIGHT';</li>
        <li style="font-size: 30px; font-family: 'Conv_SFUIDISPLAY-THIN';">font-family: 'Conv_SFUIDISPLAY-THIN';</li>
        <li style="font-size: 30px; font-family: 'Conv_SFUIDISPLAY-LIGHT';">font-family: 'Conv_SFUIDISPLAY-LIGHT';</li>
        <li style="font-size: 30px; font-family: 'Conv_SFUIDISPLAY-REGULAR';">font-family: 'Conv_SFUIDISPLAY-REGULAR';</li>
        <li style="font-size: 30px; font-family: 'Conv_SFUIDISPLAY-MEDIUM';">font-family: 'Conv_SFUIDISPLAY-MEDIUM';</li>
        <li style="font-size: 30px; font-family: 'Conv_SFUIDISPLAY-SEMIBOLD';">font-family: 'Conv_SFUIDISPLAY-SEMIBOLD';</li>
        <li style="font-size: 30px; font-family: 'Conv_SFUIDISPLAY-BOLD';">font-family: 'Conv_SFUIDISPLAY-BOLD';</li>
        <li style="font-size: 30px; font-family: 'Conv_SFUIDISPLAY-HEAVY';">font-family: 'Conv_SFUIDISPLAY-HEAVY';</li>
        <li style="font-size: 30px; font-family: 'Conv_SFUIDISPLAY-BLACK';">font-family: 'Conv_SFUIDISPLAY-BLACK';</li>
    </ul>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/script.min.js"></script>
</body>

</html>